<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />

		<property name="jdbcUrl" value="jdbc:mysql://139.129.10.20:3306/adweb?characterEncoding=utf8"></property>

		<property name="user" value="root" />
		<property name="password" value="fudanchenxi" />

		<property name="maxPoolSize" value="12" />
		<property name="minPoolSize" value="0" />
		<property name="maxStatements" value="200" />
		<property name="initialPoolSize" value="3" />
		<property name="maxIdleTime" value="10" />
		<property name="idleConnectionTestPeriod" value="10" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
	</bean>


	<!-- start of action -->

	<bean id="userLoginAction" class="action.UserLogin"
		scope="prototype">
		<property name="userService" ref="UserService"></property>
	</bean>
	
	<bean id="userThirdLoginAction" class="action.UserThirdLogin"
		scope="prototype">
		<property name="userService" ref="UserService"></property>
	</bean>

	<bean id="userRegisterAction" class="action.UserRegister"
		scope="prototype">
		<property name="userService" ref="UserService"></property>
	</bean>	
	
	<bean id="userHeadImgUploadAction" class="action.UserHeadImgUpload"
		scope="prototype">
		<property name="userService" ref="UserService"></property>
	</bean>	

	<bean id="userLogoutAction" class="action.UserLogout"
		scope="prototype">
	</bean>

	<bean id="sightGetAction" class="action.SightGet"
		scope="prototype">
		<property name="sightService" ref="SightService"></property>
	</bean>

	<bean id="sightListGetAction" class="action.SightListGet"
		scope="prototype">
		<property name="sightService" ref="SightService"></property>
		<property name="labelService" ref="LabelService"></property>
	</bean>

	<bean id="sightGetBySightNameAction" class="action.SightGetBySightName"
		scope="prototype">
		<property name="sightService" ref="SightService"></property>
	</bean>

	<bean id="sightListGetBySightTypeAction" class="action.SightListGetBySightType"
		scope="prototype">
		<property name="sightService" ref="SightService"></property>
	</bean>

	<bean id="scoreCreateAction" class="action.ScoreCreate"
		scope="prototype">
		<property name="scoreService" ref="ScoreService"></property>
		<property name="sightService" ref="SightService"></property>
	</bean>

	<bean id="scoreListGetAction" class="action.ScoreListGet"
		scope="prototype">
		<property name="scoreService" ref="ScoreService"></property>
	</bean>

	<bean id="footprintCreateAction" class="action.FootprintCreate"
		scope="prototype">
		<property name="footprintService" ref="FootprintService"></property>
	</bean>

	<bean id="footprintDeleteAction" class="action.FootprintDelete"
		scope="prototype">
		<property name="footprintService" ref="FootprintService"></property>
	</bean>

	<bean id="footprintListGetAction" class="action.FootprintListGet"
		scope="prototype">
		<property name="footprintService" ref="FootprintService"></property>
		<property name="sightService" ref="SightService"></property>
	</bean>

	<bean id="commentCreateAction" class="action.CommentCreate"
		scope="prototype">
		<property name="commentService" ref="CommentService"></property>
	</bean>

	<bean id="commentDeleteAction" class="action.CommentDelete"
		scope="prototype">
		<property name="commentService" ref="CommentService"></property>
	</bean>

	<bean id="commentListGetAction" class="action.CommentListGet"
		scope="prototype">
		<property name="commentService" ref="CommentService"></property>
	</bean>

	<bean id="commentListGetByUserAction" class="action.CommentListGetByUser"
		scope="prototype">
		<property name="commentService" ref="CommentService"></property>
	</bean>

	<bean id="sightTypeListGetAction" class="action.SightTypeListGet"
		scope="prototype">
		<property name="sightTypeService" ref="SightTypeService"></property>
	</bean>

	<bean id="suggestionCreateAction" class="action.SuggestionCreate"
		scope="prototype">
		<property name="suggestionService" ref="SuggestionService"></property>
	</bean>

	<bean id="suggestionListGetBySightIdAction" class="action.SuggestionListGetBySightId"
		scope="prototype">
		<property name="suggestionService" ref="SuggestionService"></property>
	</bean>

	<bean id="suggestionListGetByUserAction" class="action.SuggestionListGetByUser"
		scope="prototype">
		<property name="suggestionService" ref="SuggestionService"></property>
	</bean>

	<bean id="labelCreateAction" class="action.LabelCreate"
		scope="prototype">
		<property name="labelService" ref="LabelService"></property>
	</bean>

	<bean id="labelListGetBySightIdAction" class="action.LabelListGetBySightId"
		scope="prototype">
		<property name="labelService" ref="LabelService"></property>
	</bean>

	<bean id="labelListGetByUserAction" class="action.LabelListGetByUser"
		scope="prototype">
		<property name="labelService" ref="LabelService"></property>
	</bean>

	<bean id="imgUploadAction" class="action.ImgUpload"
		scope="prototype">
		<property name="imgService" ref="ImgService"></property>
	</bean>
	
	<bean id="imgGetAction" class="action.ImgGet"
		scope="prototype">
		<property name="imgService" ref="ImgService"></property>
	</bean>

	<bean id="recommendGetAction" class="action.RecommendGet"
		scope="prototype">
		<property name="footprintService" ref="FootprintService"></property>
		<property name="sightService" ref="SightService"></property>
		<property name="userService" ref="UserService"></property>
	</bean>

	<bean id="videoUploadAction" class="action.VideoUpload"
		scope="prototype">
		<property name="videoService" ref="VideoService"></property>
	</bean>
	
	<bean id="videoGetAction" class="action.VideoGet"
		scope="prototype">
		<property name="videoService" ref="VideoService"></property>
	</bean>

	<bean id="threeDUploadAction" class="action.ThreeDUpload"
		scope="prototype">
	</bean>

	<bean id="reminderOutputAction" class="action.WarnReminderOutput"
		scope="prototype">
	</bean>
	
	<!-- end of action -->

	<!-- start of DAO -->
	<bean id="EntityDAO" class="dao.EntityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<!-- end of DAO -->


	<!-- start of service -->
	<bean id="UserService" class="service.impl.UserServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>
	
	<bean id="SightService" class="service.impl.SightServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>
	
	<bean id="ScoreService" class="service.impl.ScoreServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>
	
	<bean id="FootprintService" class="service.impl.FootprintServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>
	
	<bean id="CommentService" class="service.impl.CommentServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>

	<bean id="SightTypeService" class="service.impl.SightTypeServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>

	<bean id="SuggestionService" class="service.impl.SuggestionServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>

	<bean id="LabelService" class="service.impl.LabelServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>
	
	<bean id="ImgService" class="service.impl.ImgServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>
	
	<bean id="VideoService" class="service.impl.VideoServiceImpl">
		<property name="entityDAO" ref="EntityDAO"></property>
	</bean>

	<!-- end of service -->


	<!-- 配置Hibernate的局部事务管理器，使用HibernateTransactionManager类 -->
	<!-- 该类实现PlatformTransactionManager接口，是针对Hibernate的特定实现 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<!-- 配置HibernateTransactionManager时需要依注入SessionFactory的引用 -->
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置事务增强处理,指定事务管理器 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 用于配置详细的事务语义 -->
		<tx:attributes>
			<!-- 所有以'get'开头的方法是read-only的 ，能提高事务处理效率 -->
			<!--<tx:method name="get*" read-only="true"/> -->
			<!-- 其他方法使用默认的事务设置 -->
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="allServices" expression="bean(*Service)" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allServices" />
	</aop:config>
</beans>